
body{
    padding: 40px 0 20px 0;
    height: 600px;
    padding-bottom: 200px;
    background-color: #eeeeee;

}


h1 {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 10px;
}

.boxes{
    display:flex;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    height: auto;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 10px 0;
    padding: 0 0 20px 0;
    font-size: 1.5rem;
    color: black;
}

input {
    width: 250px;
    margin: 8px 0 0 1px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1.3rem;
}

    
input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border-color: rgba(81, 203, 238, 1);
}

button {
    width: 150px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    margin: 30px 0 0 75px;
    padding: 8px 11px;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 5px;
}

button:hover{
    background-color: #778899;
    color: #F0FFF0;
}

.userAlbum{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

.userImgs{
    width: 32%;
    height: 50vh;
    display: flex;
    margin-left: 1%;
    margin-bottom: 10px;
}

img{
    width: 90%;
    cursor: grab;
    position: relative;
    text-align: center;
}


.delete{
    margin: 1%;
    width: 10%;
    height: 5vh;
    border: solid black 1px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: white;
    background-color: darkred;
    border-radius: 30% 30%;
    padding: 0;
}
.delete:hover{
    cursor: pointer;
    background-color: red;
}